@{
    ViewData["Title"] = "Yönetici Paneli";
}
<h2>Yönetici Paneli</h2>

<ul>
    <li><a asp-action="UserList">Kullanıcıları Görüntüle</a></li>
    <li><a asp-controller="Books" asp-action="Create">Yeni Kitap Ekle</a></li>
</ul>
