@model IEnumerable<MyMvcExamProject.Models.Book>

<h2>Kitap Listesi</h2>
<table class="table">
    <tr>
        <th>Başlık</th>
        <th>Yazar</th>
        <th>Sınav için Kitap Seç</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td><a href="@Url.Action("Index", "Exam", new {bookId = book.Id })">@book.Title</a></td>
        </tr>
    }

</table>

