@model List<MyMvcExamProject.Models.Book>

<h2>Kitap Listesi</h2>
<table class="table">
    <tr>
        <th>Başlık</th>
        <th>Yazar</th>
        <th>Yıl</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Year</td>
            <td>
              <a href="/Books/Edit/@book.Id" class="btn btn-primary">Düzenle</a>

                <form method="post" action="@Url.Action("Delete", "Books", new { id = book.Id })" style="display:inline;">
                    <input type="submit" value="Sil" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    }    
    <a asp-controller="Books" asp-action="Create" class="btn btn-success" style="margin-bottom:15px;">Kitap Ekle</a>
</table>
