@Model MyMvcExamProject.Models.ErrorViewModel

@{
    ViewData["Title"] = "Sınav Sonucu";
}
@if (Model.Book != null)
{
    <h2>@Model.Book.Title - Sınav</h2>
}


<p>Doğru Sayısı: @Model.Score</p>
<p>Toplam Soru Sayısı: @Model.TotalQuestions</p>
<!-- Ana sayfaya (Index'e) dönüş bağlantısı -->


<form asp-action="Index" asp-controller="Exam" method="get">
    <input type="hidden" name="bookId" value="@Model.BookId" />
    <button type="submit">Yeniden Başla</button>
</form>

